aiohttp==3.8.4
asgiref==3.6.0
dataclasses-json==0.5.7
Django==4.2
django-filter==23.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
importlib-metadata==6.5.0
langchain==0.0.146
Markdown==3.4.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
numexpr==2.8.4
openapi-schema-pydantic==1.2.4
pydantic==1.10.7
PyJWT==2.6.0
pytz==2023.3
sqlparse==0.4.4
tenacity==8.2.2
typing-extensions==4.5.0
typing-inspect==0.8.0
tzdata==2023.3
zipp==3.15.0
